<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Simplified permissions - only what we need -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Remove camera features since we're using basic intent -->
    <!-- <uses-feature android:name="android.hardware.camera" android:required="false" /> -->
    <!-- <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" /> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Farmers Market"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Your existing activities -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />

        <activity
            android:name=".activities.AddProductActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ProductDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />

        <!-- Remove the file provider since we're using basic approach -->
        <!-- <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> -->

    </application>

</manifest>